@media screen and (max-width: 450px) {

.btn-wpp{
	position: fixed;
	left: 76%;
	bottom: 3%;
	
}

    
.menu-op{
    position: absolute;
    top: 8vh;
    right: 0vw;
    width: 30vw;
    height: 22vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in ;
}

.menu-op-items{
	padding: 0;
}

.menu-op-items a{
	font-size: 19px;
    font-weight: 500;
}


.menu-op.active{
    display: flex;
}

.mobile-menu{
    margin-right: 1.5vh;
    display: block;
}

.mobile-menu div{
    transition: .3s;
}



.mobile-menu.active .line1{
	transform: rotate(-45deg) translate(-7px, 7px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active  .line3{
    transform: rotate(45deg) translate(-4px, -6px);
}
    


.banner{
    background: url(img/hero_mobile.webp) center top / cover no-repeat #4f6745;
    padding: 3vh 5vw;
    
}

.banner-textos h1{
    font-weight: 600;
	font-size: 5.5vw;
            
}
.banner-textos{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30vh;
    gap: 2vh;
}

.banner-textos a{
    margin-top: 3vh;
    font-size: 5vw;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 2vh 5vw;
    border-radius: 10px;
    width: 90%;
    text-align: center;
}
    /*SERVICOS*/

.servicos{
    padding: 5vh 5vw;
    
}

.serv_row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;;
    padding: 5vh 0vw;;
}

.serv_card{
    background-color: white;
    padding: 6vh 3vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

    .serv_card img {
        margin: auto;
        width: 50%;
    }
    
    .serv_card h4{
    font-size: 30px;
    
}
    
    .servicos h1{
    font-size: 5vh;
          
}

.card_row{
    display: none;
}

.card-item{
    width: 90%;
    margin-bottom: 3vh;
}

.card-mobile{
    padding-top: 5vh;
    display: grid;
    justify-content: center;
}


.card {
    width: 70vw;
    height: 15.5vh;
    margin-bottom: 3.5vh;
    transition: all .5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
               -15px -15px 30px rgba(60, 60, 60, 0.082);
    text-align: center;
    overflow: hidden;
  }
  .card:hover {
    height: 30vh;
    background: linear-gradient(360deg, #d3d2d2c5 60%, hsla(0, 0%, 13%, 1) 70%);
  }



  .card .content p {
    font-family: var(--fonte-principal);
    transition: all .5s;
    font-size: 1em;
    margin-bottom: 8px;
  }
    
    /*SOBRE*/

.sobre{
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    
}

.sobre_text{
    width: 100%;
    padding-bottom: 5vh;
}


.sobre_text h1{
    font-size: 15vw;
    
}

.sobre_text p{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vh;
    line-height: 1.1;
}

.sobre img{
    width: 100%;
    height: auto;
    box-shadow: 5px -2px 15px rgba(0, 0, 0, 0.4);
}
    
    /*CONTATO*/

.contato{
    flex-direction: column;
    gap: 3vh;
	padding: 5vh 5vw;
	
}
    
    .contato-formulario, .contato-informacoes{
	width: 85vw;
	padding: 5vh 3vw;
	
}
    
    .contato-formulario h3, .contato-informacoes h3{
    font-size: 3.2vh;
}
    
    .contato-formulario-campos-input{
	padding: 2vh;
	margin-bottom: 1vh;
	font-size: 1.8vh;
	
}

.contato-formulario-campos-botao{
	font-size: 2vh;
}
    

.contato-informacoes-lista li p {
	font-size: 1.8vh;
	
}

    /*LOCAL*/
.local iframe{
	width: 100%;
}

/*FOOTER*/


.rodape_img{
    width: 30%;
}



.rodape-items a{
	font-size: 22px;
	
}


    
}